section {
    padding: 100px 0;
}

.overlay-background {
    background-color: #000000 !important;
    height: 400px;
}

.header-text, .color, .white {
    padding-bottom: 15px;
    font-size: 44px;
    font-weight: 300;
    line-height: 55px;
}

.white {
   color: white;
}

.color {
    color: #2D383F;
}

.bg-black {
    background-color: #000000;
}

#narrow-black-top {
  	height: 25px;
  	background-color: black;
    color: #CECECE;
}

.off-white-text {
    color: #CECECE;
}

.text-right {
	 text-align: right;
}

#experience-text {
  height: auto; 
  width: auto; 
  color: #2D383F;
  font-size: 16px;  
  font-weight: 300; 
  line-height: 26px;
}

#looking-for-text {
    height: auto;
    width: auto;
    color: #2D383F;
    font-size: 27px;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
}

#who-we-are-text {
    height: auto;
    width: auto;
    color: #2D383F;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

.apply-button {
    height: 50px;
    width: 280px;
    background-color: #004B8D;
    
}

.apply-button-text {
    border: #000000;
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.17px;
    line-height: 16px;
    text-align: center
}