section {
    padding: 100px 0;
}

footer {
    height: 100px;
    background-color: #000000;
}

.overlay-background {
    background-color: #000000 !important;
    height: 400px;
}

.header-text {
    padding-bottom: 15px;
    font-size: 44px;
    font-weight: 300;
    line-height: 55px;
    color: #2D383F;
}

.white {
   color: white;
}

.nav-link {
    color: #2D383F;
    white-space: nowrap;
}

.navbar-nav {
    padding-left: 85px; 
    font-size: small
}

.apply-bar-color {
    color: #005695;
}

.bg-black {
    background-color: #000000;
}

#narrow-black-top {
  	height: 25px;
  	background-color: black;
    color: #CECECE;
}

.off-white-text {
    color: #CECECE;
}

.text-right {
    text-align: right;
}

#experience-text {
    height: auto; 
    width: auto; 
    color: #2D383F;
    font-size: 16px;  
    font-weight: 300; 
    line-height: 26px;
}

#looking-for-text {
    height: auto;
    width: auto;
    color: #2D383F;
    font-size: 27px;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
}

#who-we-are-text {
    height: auto;
    width: auto;
    color: #2D383F;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}

#join-the-team-text {
    height: auto;
    width: auto;
    color: #2D383F;
    font-size: 27px;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
}

#map-text {
    color: #2D383F; 
    font-size: 23px;  
    font-weight: 300; 
    line-height: 44px;
}

.clever-sentence-text {
    height: 110px;
    width: 651px;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 300;
    line-height: 55px;
}

.apply-button {
    height: 50px;
    width: 280px;
    background-color: #004B8D;
    
}

.apply-button-text {
    border: #000000;
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.17px;
    line-height: 16px;
    text-align: center
}

#gmap_canvas {
    max-width: none!important;
    background: none!important;
    height: 391px;
    width: 511px;
}

.extra-title-padding {
    padding-bottom: 35px;
}

#address-text {
    margin-bottom: 0;
}

#main-nav {
    height: 75px;
}

.footer-container {
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
}

.footer-legal {
    color: white;
    margin-left: -15px
}

#apply-now {
    background-color: #7B9BAA;
    color: white;
    height: 371px;
    padding-top: 90px;
}

.apply-now-padding {
    padding: 10px 0;
}

.apply-now-heading {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.apply-now-text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
}

.apply-image {
    padding-bottom: 15px;
}