header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

.overlay-background {
    background-color: #000000 !important;
    height: 400px;
    /*opacity: .15;*/
}

.rss-navbar .li {
    white-space: nowrap;
}

.overlay-text {
    height: 110px;
    width: 651px;
    color: #FFFFFF;
    font-size: 44px;
    font-weight: 300;
}

.bg-black {
    background-color: #000000;
}

#narrow-black-top {
	height: 25px;
	background-color: black;
}

.text-right {
	text-align: right;
}